* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body {
    background-color: #eee;
}
.container {
    width: 700px;
    margin: 10px auto;
    border: solid 1px rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    background: #fff;
}
p {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 30px;
}
input {
    outline-color: #368372;
}
p input[type="text"] {
    margin-top: 5px;
    height: 40px;
    width: 600px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
input[type="radio"]{
    margin: 0 5px;
}
.container header {
    color: #fff;
    width: 100%;
    height: 180px;
    padding: 50px 15px;
    background-color: #368372;
    border-bottom: 6px solid black;
}
header h1 {
    font-size: 2.5rem;
    line-height: .5rem;
}
header p {
    font-weight: lighter;
}
.container form {
    padding: 0 15px;
}
input[type="submit"] {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 10px 20px;
    color: #fff;
    background: #368372;
    border: 0;
    cursor: pointer;
    margin: 40px 275px;
}